body {
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
  background-color: var(--mdc-theme-background);
}

div[slot=body] {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 16px;
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 150px;
  min-width: 150px;
  border-radius: 4px;
  border: 1px solid var(--mdc-theme-border-color);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 10px;
}

h2 {
  margin-top: 0;
}

.icon-card svg {
  height: 24px;
  width: 24px;
  margin-bottom: 8px;
}
