@use '@tylertech/forge/dist/forge-core.css';
@use '@tylertech/forge/dist/forge.css';
@use '@tylertech/forge/sass/theme/theme-dark' as forge-theme-dark;

[data-theme='dark'] {
  @include forge-theme-dark.theme-properties;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:not(:defined) {
  visibility: hidden;
}

#scroll-container {
  padding: var(--forge-spacing-large);
}

forge-card.content {
  margin: 0 auto;
  max-width: 960px;

  .content-header {
    display: flex;
    align-items: center;
    gap: var(--forge-spacing-small);
    margin-bottom: var(--forge-spacing-large);

    h2 {
      margin: 0;
    }
  }
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--forge-spacing-medium);
}

.icon-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--forge-spacing-xsmall);
  border-radius: var(--forge-shape-medium);
  border: var(--forge-border-thin) solid var(--forge-theme-outline);
  overflow: hidden;
  padding: var(--forge-spacing-medium);

  &:hover {
    transition: box-shadow var(--forge-animation-duration-short4) var(--forge-animation-easing-standard);
    border-color: var(--forge-theme-outline-low);
    box-shadow: var(--forge-elevation-4);
  }

  forge-icon {
    font-size: 2rem;
  }

  .icon-name {
    margin-inline: var(--forge-spacing-xsmall);
    word-break: break-all;
  }
}
